@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  *:focus{
    outline: none;
    box-shadow: 0 0 0 1px #181818;
  }

  body {
    color: #FFFFFF;
  }

  button {
    cursor: pointer;
  }

  body, input, button, textarea, select  {
    font: 400 16px 'Nunito', sans-serif;
  } 